#Enviorment
MODE="development"

#PORT
PORT=5001

#Database
MONGO_URI="your-mongodb-uri"

#Jwt Config

JWT_SECRET_KEY = "your-secret-key"

#Frontend uri

FRONTEND_URI=http://localhost:5173

#Email details

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

#Webpush notification

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=

#Cloudinary Configuration

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=